{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
    
    <p>Hey {{ full_name }},</p>
    <p>Being a trader is no longer a solitary job! 😍</p>
    <p>We are committed to providing you with the best possible trading experience, so we are excited to announce one more step toward fulfilling it! 🙌</p>
    <br>
    <br>
    <p>Launching an exclusive Trader Community!</p>
    <br>
    <br>

    <p><a href="https://chat.whatsapp.com/BqnqhemYHWUGQu5V8fc67R">JOIN–BLACK-BOX CLUB</a></p>
    <br>
    <br>


    <p>Why Blackbox Club?</p>

    <p>We, at Blackbox-AI, are on a mission to bring traders together, surround them with the smartest minds in the country, and help them upskill with tons of content and live sessions, etc.</p>
    <br>
    <br>
    <p>What will you get from this?</p>
 
    <ul>
        <li>Connect with Fellow Traders: Engage in discussions with diverse traders. Share your experiences, and strategies, and learn from others.</li>
        <br>
        <li>Access Exclusive Content: Access premium market analyses, educational materials, and insider insights tailored to our community members.</li>
        <br>

        <li>Participate in Weekly Webinars: Join our weekly webinars hosted by top traders, where you can stay updated on market trends, ask questions, and enhance your trading skills.</li>
    </ul>
    <br>
     <br>
    <p><a href="https://chat.whatsapp.com/BqnqhemYHWUGQu5V8fc67R">🌐Join Now</a></p>

    <br>
    <b>
        <p>Being a trader is no longer a solitary job! 😍</p></b>
        <br>
    <p>We look forward to seeing you there!</p>
    <br>
    <p>Team–Blackbox-AI</p>
</body>
</html>
